* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button, input[type=submit] {
    background: none;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(202, 136, 233);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.smaller-button {
    padding: 6px;
}

#headertext {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(77, 77, 77);
}

input[type=text] {
    outline: none;
    padding: 5px;
    font-size: 18px;
}

.regular_button {
    background: none;
    border: none;
    outline: none;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
    background: rgb(243, 243, 243);
}

.navbar_container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(163, 163, 163);;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar_holder {
    width: 70%;
    height: 100%;
    display: flex;
}

.navbar_box1, .navbar_box2, .navbar_box3 {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar_box2 {
    justify-content: center;
}

.navbar_box3 {
    justify-content: flex-end;
}

#user-img {
    height: 100%;
}

#logo-img {
    height: 50px;
    margin: 10px;
}

#clock {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.profile_pic_container {
    height: 80%;
    border-radius: 50%;
    border: 1px solid rgb(172, 32, 207);
    overflow: hidden;
    margin: 10px;
}

/* bodycontent - styling */

.bodycontent_container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.bodycontent_holder {
    margin-top: 30px;
    width: 70%;
    min-height: 100vh;
    border-right: 1px solid rgb(163, 163, 163);
    border-left: 1px solid rgb(163, 163, 163);
    display: flex;
}

div.regular_container {
    margin-bottom: 60px;
}

.left_section {
    flex: 1;
    height: 100%;
    border-right: 1px solid rgb(163, 163, 163);
}

.save-cancel-button {
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.profile_settings_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.username_holder {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
}

#change-username-input {
    padding: 0;
    width: 80%;
}

#file-input {
    font-family: 'Ubuntu', sans-serif;
}

#big-user-img {
    width: 100%;
    margin: 0;
}

.right_section {
    flex: 3.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
}

.buttons_holder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.buttons_holder_actual {
    width: 80%;
    height: auto;
    display: flex;
}

.buttons_holder button {
    padding: 15px;
    border-radius: 13px;
    cursor: pointer;
    margin: 5px;
}

.save_buttons_holder {
    width: auto;
    height: auto;
    margin-top: 10px;
}

div.post_goal_container {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

#chars-textarea, #chars-header-input, #chars-goal-input {
    position: absolute;
    top: 8px;
    right: 8px;
}

div.regular_container {
    width: 80%;
    height: auto;
}

#header-input, #goal-input-tags {
    background: none;
    border: none;
    font-size: 18px;
    outline: none;
    width: 100%;
    margin-top: 10px;
}

#content-textarea {
    background: none;
    border: none;
    font-size: 18px;
    outline: none;
    width: 100%;
    height: 150px;
    resize: none;
    margin-top: 10px;
}

.actual_tag_holder {
    width: 100%;
    overflow: hidden;
}

.actual_tag {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 6px;
    color: grey;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.profile_img_holder {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid rgb(172, 32, 207);
    z-index: 5;
    margin-bottom: 20px;
    overflow: hidden;
}

#submit-goal-error {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: red;
}

#tags-goal-error-msg {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: red;
}

/* footer styling */
.footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.footer_container {
    width: 70%;
    height: 100%;
    background-color: grey;
}